
body{background: bisque}

p
{

    font-family: "Franklin Gothic Demi Cond";
    font-size: large;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: black;
    padding: auto;
}
h1
{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;

}

input
{   color: black;
    font-family: "Franklin Gothic Demi Cond";
    font-size: x-large;
}

button
{
    font-size:large;
    margin-top: 40px;
}

#POLINOMIOS
{
         font-weight: lighter;
         color: black;
         font-style: normal;
         font-size: x-large;
         float: left;
         width: 800px;
         margin: 40px;

}

#CONTENEDOR { overflow: hidden;}

#TITULO
{
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: normal;
    font-size: 60px;
    font-family: "Franklin Gothic Demi Cond";
    text-shadow: 2px 2px 4px black;
}

#DOMINÓ{text-align: center;}

#PINKI
{
    float: left;
    width: 200px;
    margin: 40px;
}

#SUBTITULOS
{
     font-size: large;
     font-family: "Yu Gothic";
}
#myCanvas
{ background: white;}

#Canvas
{background: bisque;}

.CENTRADO
{
    margin:auto;
    display:block;
}

.INSTRUCCIONES
{
    text-align: left;
}

.JUEGO {background: white;
        margin-top: 40px;}








